* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

body {
  font-size: 14px;
  font-family: "Poppins", Arial, Verdana, sans-serif;
  color: #000000;
}
body.lock {
  overflow: hidden;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
  background-image: url("../assets/svg/circle.svg");
  background-repeat: no-repeat;
}

.hidden-block {
  display: none;
}
.hidden-block.active {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9990;
}

.button {
  padding: 15px 29px;
  font-weight: bold;
  background-color: #ffa501;
  cursor: pointer;
}
.button:hover {
  background: #e47209;
  transition: all 0.3s ease-out;
}
.button_shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.icon_github {
  background-image: url("../assets/svg/github.svg");
}
.icon_instagramm {
  background-image: url("../assets/svg/instagram.svg");
}
.icon_facebook {
  background-image: url("../assets/svg/facebook.svg");
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 6px;
  cursor: pointer;
}
.burger:before, .burger:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #151812;
}
.burger span {
  width: 36px;
  height: 3px;
  background-color: #151812;
}
.burger:hover:before, .burger:hover span, .burger:hover:after {
  background-color: #ffa501;
  transition: all 0.3s ease-out;
}

.burger-close {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.burger-close span {
  position: absolute;
  top: 17px;
  width: 37px;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}
.burger-close:after {
  content: "";
  position: absolute;
  top: 17px;
  width: 37px;
  height: 3px;
  background-color: #000000;
  transform: rotate(-45deg);
}
.burger-close:hover span, .burger-close:hover:after {
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 1370px) {
  .container {
    padding: 10px;
  }
}

.about {
  position: relative;
  min-height: 800px;
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1340px) {
  .about {
    min-height: calc(640px + 160 * (100vw - 320px) / 1020);
  }
}
@media (max-width: 576px) {
  .about {
    background-position: -680px center;
  }
}
@media (max-width: 320px) {
  .about {
    background-position: center;
    background-image: url("../assets/img/background-mobile.jpg");
  }
}
.about__burger {
  position: absolute;
  top: 19px;
  right: 30px;
}
@media (max-width: 320px) {
  .about__burger {
    right: 20px;
  }
}
.about__social-network {
  position: absolute;
  top: 47.8%;
  left: -104px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
@media (max-width: 1340px) {
  .about__social-network {
    display: none;
  }
}
.about__content {
  padding-top: 201px;
}
@media (max-width: 320px) {
  .about__content {
    padding-top: 191px;
  }
}
.about__subtitle {
  padding-left: 10px;
}
@media (max-width: 320px) {
  .about__subtitle {
    font-size: 16px;
  }
}
.about__title {
  padding-bottom: 34px;
  line-height: 60px;
  letter-spacing: 1.1px;
}
@media (max-width: 320px) {
  .about__title {
    padding-bottom: 27px;
    font-size: 26px;
    line-height: 42px;
  }
}
.about__title span {
  display: block;
  letter-spacing: 2px;
}
@media (max-width: 320px) {
  .about__title span {
    letter-spacing: 1px;
  }
}
.about__link {
  padding-left: 40px;
  color: #000000;
  font-weight: bold;
}
.about__navigation-block {
  position: fixed;
  top: 0;
  left: -200%;
  width: 345px;
  height: 800px;
  background-color: #ffa501;
  transition: left 1s ease-in-out;
}
@media (max-width: 1340px) {
  .about__navigation-block {
    height: calc(640px + 160 * (100vw - 320px) / 1020);
  }
}
@media (max-width: 576px) {
  .about__navigation-block {
    width: calc(250px + 95 * (100vw - 320px) / 256);
  }
}
.about__navigation-block.active {
  left: 0;
  z-index: 9991;
}

.social-network {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.social-network__text {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.social-network__line {
  width: 70px;
  height: 0;
  border-top: 2px solid #000000;
}

.social-links {
  display: flex;
  column-gap: 14px;
}
.social-links__item {
  display: inline-block;
}

.navigation-block {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.navigation-block__burger-close {
  padding-bottom: 79px;
  display: flex;
  justify-content: flex-end;
}
.navigation-block__social-links {
  align-self: center;
  padding-bottom: 24px;
}

.navigation {
  flex: 1 1 auto;
}
.navigation__item {
  position: relative;
  padding-bottom: 16px;
  font-size: 24px;
}
.navigation__item:last-child {
  padding-bottom: 0;
}
.navigation__item:before {
  position: absolute;
  top: 11px;
  left: 20px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #000000;
}
@media (max-width: 576px) {
  .navigation__item:before {
    left: -2px;
  }
}
.navigation__item a {
  display: block;
  padding-left: 55px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .navigation__item a {
    padding-left: 37px;
  }
}
.navigation__item a:hover {
  color: #000000;
  transition: all 0.3s ease-out;
}

/*# sourceMappingURL=style.css.map */
