$color-primery: #ffa501;
$color-primery-hover: #e47209;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #151812;
$color-blue: #2306d6;
$color-red: #ff0101;
$container-width: 1140px;

$large-width: 992px;
$medium-width: 768px;
$small-width: 576px;
$mobile-width: 320px;
