.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  @media (max-width: $mobile-width) {
    padding-top: 80px;
  }

  &__container {
    padding: 0 34px 0 52px;

    @media (max-width: $small-width) {
      padding: 0 20px;
    }

    @media (max-width: $mobile-width) {
      padding: 10px;
    }
  }

  &__content {
    display: flex;
    column-gap: 68px;

    @media (max-width: $large-width) {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__view {
    width: 400px;
    height: 600px;

    @media (max-width: $large-width) {
      width: 100%;
      height: 400px;
    }

    @media (max-width: $small-width) {
      height: 200px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__form-block {
    flex: 1 1 auto;
  }

  &__add-subtitle {
    padding-bottom: 25px;
    text-align: left;

    @media (max-width: $mobile-width) {
      padding-bottom: 14px;
    }

    &:after {
      bottom: 26px;
      left: 31px;

      @media (max-width: $mobile-width) {
        bottom: 19px;
      }
    }
  }

  & .social-links__item {
    width: 30px;
    height: 30px;
  }

  &__text {
    font-weight: bold;
  }

  & .social-links {
    column-gap: 25px;
  }

  &__social-links {
    padding-top: 15px;
    padding-bottom: 22px;

    @media (max-width: $mobile-width) {
      padding-top: 20px;
    }
  }

  &__form {
    padding-top: 30px;
  }
}
